___
# Ciência dos Dados - PROJETO 1

## Ester dos Santos Quintino
___

## Como o nível de escolaridade dos pais afetam o índice de trabalho infantil em determinada região?

___
## Introdução

Descreva aqui o que pretende analisar!

Capriche no português!! 
Se quiser pode utilizar pesquisas semelhantes publicadas em sites confiáveis!!

___
## Filtros da base de dados

In [12]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [13]:
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\Ester Quintino\Desktop\Projeto1CDDP

In [14]:
#Se usar o arquivo descompactado
#pd.read_csv('PES2015.csv',sep=',')

#Se usar o arquivo compactado como está no dropbox púbico
#pd.read_csv('PES2015csv.zip', compression='zip', header=0, sep=',', quotechar='"')

In [15]:
dados=pd.read_csv('PES2015csv.zip', compression='zip', header=0, sep=',', quotechar='"')
dados.head()

,Unnamed: 0,V0101,UF,V0102,V0103,V0301,V0302,V3031,V3032,V3033,...,V4741,V4742,V4743,V4745,V4746,V4747,V4748,V4749,V4750,V9993
0,0,2015,11,15,1,1,2,27,2,1992,...,1.0,800.0,4.0,5,1.0,2.0,2.0,1.0,800.0,20161117
1,1,2015,11,15,3,1,4,4,5,1992,...,1.0,1150.0,4.0,5,1.0,2.0,2.0,1.0,1150.0,20161117
2,2,2015,11,15,4,1,4,4,1,1980,...,6.0,793.0,4.0,6,1.0,2.0,2.0,1.0,793.0,20161117
3,3,2015,11,15,4,2,2,5,6,1981,...,6.0,793.0,4.0,7,1.0,2.0,2.0,1.0,793.0,20161117
4,4,2015,11,15,4,3,4,8,4,2004,...,6.0,793.0,4.0,2,2.0,NaN,NaN,2.0,793.0,20161117

In [16]:
dados_resumidos=dados.loc[:,["V4801","V0401","V4728","V4743","V0702","V0703","UF"]]#.dropna(axis=0)
dados_resumidos.head()

   V4801  V0401  V4728  V4743  V0702  V0703  UF
0    NaN      1      1    4.0    NaN    NaN  11
1    NaN      1      1    4.0    NaN    NaN  11
2   25.0      1      1    4.0    NaN    NaN  11
3    NaN      2      1    4.0    NaN    NaN  11
4   16.0      3      1    4.0    NaN    NaN  11

In [17]:
dados_não_nulos = dados_resumidos
dados_não_nulos=dados_não_nulos.fillna(0)
dados_não_nulos.head()
dados_não_nulos.head()

   V4801  V0401  V4728  V4743  V0702  V0703  UF
0    0.0      1      1    4.0    0.0    0.0  11
1    0.0      1      1    4.0    0.0    0.0  11
2   25.0      1      1    4.0    0.0    0.0  11
3    0.0      2      1    4.0    0.0    0.0  11
4   16.0      3      1    4.0    0.0    0.0  11

In [18]:
#Mudanças categorias
#dados_não_nulos.V0702=dados.V0702.astype('category')
#dados_não_nulos.V0702.cat.categories=(["Sim","Não"])
#dados_não_nulos.V0703=dados.V0703.astype('category')
#dados_não_nulos.V0703.cat.categories=(["Sim","Não"])



dados_não_nulos.UF=dados.UF.astype('category')
dados_não_nulos.UF.cat.categories=(["Rondônia","Acre","Amazonas","Roraima","Pará","Amapá","Tocantins","Maranhão","Piauí","Ceará","Rio Grande do Norte","Paraíba","Pernambuco","Alagoas","Sergipe","Bahia","Minas Gerais","Espírito Santo","Rio de Janeiro","São Paulo","Paraná","Santa Catarina","Rio Grande do Sul","Mato Grosso do Sul","Mato Grosso","Goías","Distrito Federal"])
dados_não_nulos.loc[(dados_não_nulos.UF=="Rondônia")|(dados_não_nulos.UF=="Acre")|(dados_não_nulos.UF=="Amazonas")|
                    (dados_não_nulos.UF=="Roraima")|(dados_não_nulos.UF=="Pará")|(dados_não_nulos.UF=="Amapá")|
                    (dados_não_nulos.UF=="Tocantins")|(dados_não_nulos.UF=="Maranhão")|(dados_não_nulos.UF=="Piauí")|
                    (dados_não_nulos.UF=="Ceará")|(dados_não_nulos.UF=="Rio Grande do Norte")|(dados_não_nulos.UF=="Paraíba")|
                    (dados_não_nulos.UF=="Pernambuco")|(dados_não_nulos.UF=="Alagoas")|(dados_não_nulos.UF=="Sergipe")|
                    (dados_não_nulos.UF=="Bahia")|(dados_não_nulos.UF=="Minas Gerais")|(dados_não_nulos.UF=="Espírito Santo")|
                    (dados_não_nulos.UF=="Rio de Janeiro")|(dados_não_nulos.UF=="São Paulo")|(dados_não_nulos.UF=="Paraná")|
                    (dados_não_nulos.UF=="Santa Catarina")|(dados_não_nulos.UF=="Rio Grande do Sul")|
                    (dados_não_nulos.UF=="Mato Grosso do Sul")|(dados_não_nulos.UF=="Mato Grosso")|(dados_não_nulos.UF=="Goiás")|
                    (dados_não_nulos.UF=="Distrito Federal"),"Regiões"]="Brasil"
#dados_não_nulos=dados_não_nulos.dropna(axis=0) #Dropna:Eliminação dos NAN's.
dados_não_nulos = dados_não_nulos.drop(['Regiões'],axis=1)

dados_não_nulos.V4728=dados.V4728.astype('category')
dados_não_nulos.V4728.cat.categories = (["URBANA - Cidade ou vila, área urbanizada","URBANA - Cidade ou vila, área não urbanizada","URBANA - Área urbana isolada","RURAL - Aglomerado rural de extensão urbana ","RURAL - Aglomerado rural, isolado, povoado","RURAL - Aglomerado rural, isolado, núcleo","RURAL- Aglomerado rural, isolado, outros aglomerados", "RURAL - Zona rural exclusive aglomerado rural"])
dados_não_nulos.loc[(dados_não_nulos.UF=='Rondônia') | (dados_não_nulos.UF=='Acre') | (dados_não_nulos.UF=='Amazonas') | (dados_não_nulos.UF=='Roraima') | (dados_não_nulos.UF=='Pará') | (dados_não_nulos.UF=='Amapá') | (dados_não_nulos.UF=='Tocantins'),'Regiao'] = 'Norte'
dados_não_nulos.loc[(dados_não_nulos.UF=='Maranhão') | (dados_não_nulos.UF=='Piaui') | (dados_não_nulos.UF=='Caerá') | (dados_não_nulos.UF=='Rio Grande do Norte') | (dados_não_nulos.UF=='Paraíba') | (dados_não_nulos.UF=='Pernambuco') | (dados_não_nulos.UF=='Alagoas') | (dados_não_nulos.UF=='Sergipe') | (dados_não_nulos.UF=='Bahia'),'Regiao'] = 'Nordeste'
dados_não_nulos.loc[(dados_não_nulos.UF=='Minas Gerais') | (dados_não_nulos.UF=='Espirito Santo') | (dados_não_nulos.UF=='Rio de Janeiro') | (dados_não_nulos.UF=='São Paulo'),'Regiao'] = 'Sudeste'
dados_não_nulos.loc[(dados_não_nulos.UF=='Paraná') | (dados_não_nulos.UF=='Santa Catarina') | (dados_não_nulos.UF=='Rio Grande do Sul'),'Regiao'] = 'Sul'
dados_não_nulos.loc[(dados_não_nulos.UF=='Mato Grosso do Sul') | (dados_não_nulos.UF=='Mato Grosso') | (dados_não_nulos.UF=='Goiás') | (dados_não_nulos.UF=='Distrito Federal'),'Regiao'] = 'Centroeste'
dados_não_nulos.head()

,V4801,V0401,V4728,V4743,V0702,V0703,UF,Regiao
0,0.0,1,"URBANA - Cidade ou vila, área urbanizada",4.0,0.0,0.0,Rondônia,Norte
1,0.0,1,"URBANA - Cidade ou vila, área urbanizada",4.0,0.0,0.0,Rondônia,Norte
2,25.0,1,"URBANA - Cidade ou vila, área urbanizada",4.0,0.0,0.0,Rondônia,Norte
3,0.0,2,"URBANA - Cidade ou vila, área urbanizada",4.0,0.0,0.0,Rondônia,Norte
4,16.0,3,"URBANA - Cidade ou vila, área urbanizada",4.0,0.0,0.0,Rondônia,Norte

In [19]:
# V4801 : Nível de ensino, duração do ensino fundamental e série que frequentavam
# V0401 : Condição na unidade domiciliar
# V4728 : Condição Censitária
# V4743 : Faixa de rendimento mensal domiciliar per capita
# V0702 : Trabalho Rural
# V0703 : Trabalho Urbano
# UF : Unidade de Federação

In [20]:
dados_não_nulos=dados_não_nulos.rename(columns={'UF':'UF','V4801':'Nível de Ensino','V0401':'Condição domiciliar',
                                               'V4728':'Condição Censitária', 'V4743':'Renda', 'V0702':'Trabalho Rural', 
                                              'V0703':'Trabalho Urbano'})
dados_não_nulos.loc[dados_não_nulos['Condição domiciliar'] == 1,'Condição domiciliar'] = 'Pessoa de referência'
dados_não_nulos.loc[dados_não_nulos['Condição domiciliar'] == 2,'Condição domiciliar'] = 'Cônjuge'
dados_não_nulos.loc[dados_não_nulos['Condição domiciliar'] == 3,'Condição domiciliar'] = 'Filho'
dados_não_nulos.loc[dados_não_nulos['Condição domiciliar'] == 4,'Condição domiciliar'] = 'Outro parente'
dados_não_nulos.loc[dados_não_nulos['Condição domiciliar'] == 5,'Condição domiciliar'] = 'Agregado'
dados_não_nulos.loc[dados_não_nulos['Condição domiciliar'] == 6,'Condição domiciliar'] = 'Pensionista'
dados_não_nulos.loc[dados_não_nulos['Condição domiciliar'] == 7,'Condição domiciliar'] = 'Empregado doméstico'
dados_não_nulos.loc[dados_não_nulos['Condição domiciliar'] == 8,'Condição domiciliar'] = 'Parente do empregado doméstico'

dados_não_nulos.loc[dados_não_nulos['Renda'] == 0,'Renda'] = 'Sem rendimento'
dados_não_nulos.loc[dados_não_nulos['Renda'] == 1,'Renda'] = 'Até 1/4 salário mínimo'
dados_não_nulos.loc[dados_não_nulos['Renda'] == 2,'Renda'] = 'Mais de 1/4 até 1/2 salário mínimo'
dados_não_nulos.loc[dados_não_nulos['Renda'] == 3,'Renda'] = 'Mais de 1/2 até 1 salário mínimo'
dados_não_nulos.loc[dados_não_nulos['Renda'] == 4,'Renda'] = 'Mais de 1 até 2 salário mínimo'
dados_não_nulos.loc[dados_não_nulos['Renda'] == 5,'Renda'] = 'Mais de 2 até 3 salário mínimo'
dados_não_nulos.loc[dados_não_nulos['Renda'] == 6,'Renda'] = 'Mais de 3 até 5 salário mínimo'
dados_não_nulos.loc[dados_não_nulos['Renda'] == 7,'Renda'] = 'Mais de 5 salário mínimo'
dados_não_nulos.loc[dados_não_nulos['Renda'] == 99,'Renda'] = 'Sem declaração'


dados_não_nulos.loc[dados_não_nulos['Trabalho Rural'] == 2,'Trabalho Rural'] = 'Sim'
dados_não_nulos.loc[dados_não_nulos['Trabalho Rural'] == 4,'Trabalho Rural'] = 'Não'
#dados_não_nulos.loc[dados_não_nulos['Trabalho Rural'] == [] ,'Trabalho Rural'] = 'Não aplicável'

dados_não_nulos.loc[dados_não_nulos['Trabalho Urbano'] == 1,'Trabalho Urbano'] = 'Sim'
dados_não_nulos.loc[dados_não_nulos['Trabalho Urbano'] == 3,'Trabalho Urbano'] = 'Não'
#dados_não_nulos.loc[dados_não_nulos['Trabalho Urbano'] == [] ,'Trabalho Urbano'] = 'Não aplicável'

dados_não_nulos.loc[dados_não_nulos['Nível de Ensino'] == 1,'Nível de Ensino'] = 'Maternal, jardim de infância etc.'
dados_não_nulos.loc[dados_não_nulos['Nível de Ensino'] == 2,'Nível de Ensino'] = 'Classe de alfabetização'
dados_não_nulos.loc[dados_não_nulos['Nível de Ensino'] == 3,'Nível de Ensino'] = 'Alfabetização de adultos'
dados_não_nulos.loc[dados_não_nulos['Nível de Ensino'] == 4,'Nível de Ensino'] = '1ª série do ensino fundamental regular em 8 anos'
dados_não_nulos.loc[dados_não_nulos['Nível de Ensino'] == 5,'Nível de Ensino'] = '2ª série do ensino fundamental regular em 8 anos'
dados_não_nulos.loc[dados_não_nulos['Nível de Ensino'] == 6,'Nível de Ensino'] = '3ª série do ensino fundamental regular em 8 anos'
dados_não_nulos.loc[dados_não_nulos['Nível de Ensino'] == 7,'Nível de Ensino'] = '4ª série do ensino fundamental regular em 8 anos'
dados_não_nulos.loc[dados_não_nulos['Nível de Ensino'] == 8,'Nível de Ensino'] = '5ª série do ensino fundamental regular em 8 anos'
dados_não_nulos.loc[dados_não_nulos['Nível de Ensino'] == 9,'Nível de Ensino'] = '6ª série do ensino fundamental regular em 8 anos'
dados_não_nulos.loc[dados_não_nulos['Nível de Ensino'] == 10,'Nível de Ensino'] = '7ª série do ensino fundamental regular em 8 anos'
dados_não_nulos.loc[dados_não_nulos['Nível de Ensino'] == 11,'Nível de Ensino'] = '8ª série do ensino fundamental regular em 8 anos'
dados_não_nulos.loc[dados_não_nulos['Nível de Ensino'] == 12,'Nível de Ensino'] = '1ª série do ensino fundamental regular em 9 anos'
dados_não_nulos.loc[dados_não_nulos['Nível de Ensino'] == 13,'Nível de Ensino'] = '2ª série do ensino fundamental regular em 9 anos'
dados_não_nulos.loc[dados_não_nulos['Nível de Ensino'] == 14,'Nível de Ensino'] = '3ª série do ensino fundamental regular em 9 anos'
dados_não_nulos.loc[dados_não_nulos['Nível de Ensino'] == 15,'Nível de Ensino'] = '4ª série do ensino fundamental regular em 9 anos'
dados_não_nulos.loc[dados_não_nulos['Nível de Ensino'] == 16,'Nível de Ensino'] = '5ª série do ensino fundamental regular em 9 anos'
dados_não_nulos.loc[dados_não_nulos['Nível de Ensino'] == 17,'Nível de Ensino'] = '6ª série do ensino fundamental regular em 9 anos'
dados_não_nulos.loc[dados_não_nulos['Nível de Ensino'] == 18,'Nível de Ensino'] = '7ª série do ensino fundamental regular em 9 anos'
dados_não_nulos.loc[dados_não_nulos['Nível de Ensino'] == 19,'Nível de Ensino'] = '8ª série do ensino fundamental regular em 9 anos'
dados_não_nulos.loc[dados_não_nulos['Nível de Ensino'] == 20,'Nível de Ensino'] = '9ª série do ensino fundamental regular em 9 anos'
dados_não_nulos.loc[dados_não_nulos['Nível de Ensino'] == 21,'Nível de Ensino'] = 'Educação de jovens e adultos do ensino fundamental (seriado e não seriado)'
dados_não_nulos.loc[dados_não_nulos['Nível de Ensino'] == 22,'Nível de Ensino'] = 'Regular do ensino médio'
dados_não_nulos.loc[dados_não_nulos['Nível de Ensino'] == 23,'Nível de Ensino'] = 'Educação de jovens e adultos do ensino médio'
dados_não_nulos.loc[dados_não_nulos['Nível de Ensino'] == 24,'Nível de Ensino'] = 'Pré-vestibular'
dados_não_nulos.loc[dados_não_nulos['Nível de Ensino'] == 25,'Nível de Ensino'] = 'Superior, inclusive mestrado ou doutorado'
#dados_não_nulos.loc[dados_não_nulos['Nível de Ensino'] == ,'Nível de Ensino'] = 'Não aplicável'

dados_não_nulos.head()

,Nível de Ensino,Condição domiciliar,Condição Censitária,Renda,Trabalho Rural,Trabalho Urbano,UF,Regiao
0,0,Pessoa de referência,"URBANA - Cidade ou vila, área urbanizada",Mais de 1 até 2 salário mínimo,0,0,Rondônia,Norte
1,0,Pessoa de referência,"URBANA - Cidade ou vila, área urbanizada",Mais de 1 até 2 salário mínimo,0,0,Rondônia,Norte
2,"Superior, inclusive mestrado ou doutorado",Pessoa de referência,"URBANA - Cidade ou vila, área urbanizada",Mais de 1 até 2 salário mínimo,0,0,Rondônia,Norte
3,0,Cônjuge,"URBANA - Cidade ou vila, área urbanizada",Mais de 1 até 2 salário mínimo,0,0,Rondônia,Norte
4,5ª série do ensino fundamental regular em 9 anos,Filho,"URBANA - Cidade ou vila, área urbanizada",Mais de 1 até 2 salário mínimo,0,0,Rondônia,Norte

In [21]:
#Fazer algo para tirar os NANS(por enquanto eles simbolizam zero-0)
# Na coluna Condição domiciliar ficar só com Pessoa de referência e Filho
# Como restringir a idade dos filhos sem alterar a idade dos pais? Precisa de filhos com idade inferior a 14 anos
# Fazer um gráfico que relaciona estudo dos pais e renda
# Fazer um gráfico que relaciona estudo dos pais com o índice de trabalho infantil
# Fazer um gráfico que relaciona trabalho infantil com renda
# Fazer um gráfico que relaciona trabalho infantil com Região 
# Fazer um gráfico que relaciona região com Condição Censitária
# Fazer um gráfico que relaciona trabalho infantil com Condição Censitária
# Fazer um gráfico que relaciona trabalho infantil rural e trabalho urbano, mostrando índices

___
## Análise e Resultados

___
## Conclusão

Descreva aqui suas conclusões!